---
import { Icon } from 'astro-icon';
export interface Props {
    title: string,
    icon: string,
    link: string,
}

const { title, icon, link } = Astro.props

---

<a class="card bg-primary text-primary-content overflow-hidden cursor-pointer transition-all duration-300 h-min no-mobile:hover:scale-105" target="_blank" href={link}>
    <div class="card-body flex-row p-4">
      <div class="w-[22%] flex justify-center items-center m-[-1rem] bg-secondary">
        <div class="w-7 h-7">
            <Icon name={`bi:${icon}`} />
        </div>
      </div>
      <h2 class="card-title ml-[5%]">{title}</h2>
    </div>
</a>