---
export interface Props {
    title: string,
    description: string,
    button: Object,
}

const { title, description, button } = Astro.props

---

<div class="card bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 class="card-title">{title}</h2>
      <p>{description}</p>
      <div class="card-actions justify-end">
        <a class='btn btn-primary' target="_blank" href={button.link}>
            {button.label}
        </a>
      </div>
    </div>
</div>